@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "nohemi";
  src: url("../src/assets/fonts/Nohemi-VF.ttf") format("truetype");
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}
:root {
  font-family: "Nohemi", "Zilla Slab";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nb-button.default:hover {
  background-color: #f5f5f5;
}
